{% extends "base.html" %}

{% block content %}

    <div class="row">
        {% for post in posts %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-meta">Posted on: {{ post.updated|date }}</span>
                        <h3 class="card-title"><a href="{% url 'post-detail' post.pk %}">{{ post.title }}</a></h3>
                        <p>{{ post.content|truncatechars:140 }}</p>
                    </div>
                    <div class="card-action">
                        {% for cat in post.categories.all %}<a href="#">{{ cat.name }}</a> {% endfor %}
                        {% for tag in post.tags.all %}<a href="#">{{ tag.name }}</a> {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

    <ul class="pagination">
    {% if posts.has_previous %}
        <li class="waves-effect"><a href="?page={{ posts.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}
    {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
            <li class="active"><a href="#!">{{ num }}</a></li>
        {% else %}
            <li class="waves-effect"><a href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
    {% endfor %}
    {% if posts.has_next %}
        <li class="waves-effect"><a href="?page={{ posts.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
    {% else %}
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    {% endif %}
  </ul>


{% endblock %}