{% extends "base.html" %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s12">
                <label>Title</label>
                {{ form.title }}
            </div>
            <div class="input-field col s12">
                <label>Content</label>
                {{ form.content }}
            </div>
            <div class="file-field input-field col s12">
                <div class="btn">
                    <span>Image</span>
                    {{ form.image }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text" placeholder="Upload featured image">
                </div>
            </div>
            <div class="input-field col s6">
                {{ form.categories }}
                <label>Categories</label>
            </div>
            <div class="input-field col s6">
                {{ form.tags }}
                <label>Tags</label>
            </div>
        </div>

        <button class="btn waves-effect waves-light" type="submit">Create Post</button>
    </form>
{% endblock %}
