{% extends "base.html" %}

{% block content %}
<h2>Tag: {{ tag_name.name }}</h2>
    <div class="row">
        {% for post in posts %}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-meta">Posted on: {{ post.updated|date }}</span>
                        <h3 class="card-title"><a href="{% url 'post-detail' post.slug %}">{{ post.title }}</a></h3>
                        <p>{{ post.content|truncatechars:140 }}</p>
                    </div>
                    <div class="card-action">
                        {% for cat in post.categories.all %}<a href="{% url 'post-category' cat.slug %}">{{ cat.name }}</a> {% endfor %}
                        {% for tag in post.tags.all %}<a href="{% url 'post-tag' tag.slug %}">{{ tag.name }}</a> {% endfor %}
                    </div>
                </div>
            </div>

        {% endfor %}
    </div>

{% include "pagination.html" %}

{% endblock %}